@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animate-spin-slow {
        animation: spin 10s linear infinite;
    }

    .animate-in {
        animation-fill-mode: both;
    }

    .fade-in {
        animation-name: fade-in;
    }

    .zoom-in-95 {
        animation-name: zoom-in-95;
    }

    .slide-in-from-top-2 {
        animation-name: slide-in-from-top;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes zoom-in-95 {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slide-in-from-top {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}